<% provide(:title, 'About') %>
<h1>This is about us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias corporis dicta expedita in, ipsum nihil odit quidem? Aliquam asperiores aspernatur deserunt eius excepturi, in libero nulla officia quo ut.</p>