<% provide(:title, 'Contact') %>
<h1>This is how you will contact us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dicta illo ipsa iusto laboriosam libero nulla officiis omnis perspiciatis placeat, provident quae qui quis repudiandae rerum similique sit totam veritatis.</p>